ul {
  list-style-type: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input {border:0;outline:0;}
input:focus {outline:none!important;}

.blink {
  font-size: 20px;
  font-weight: bold;
  animation: blink 
      1s linear infinite;
  line-height: 0px;
}

.lines li .blink {
  display: none;
}

.lines li:last-child .blink {
  display: inline;
}

.lines li {
  height: 30px
}

.lines li .choice {
  padding-right: 15px;
}

.lines li .choice.active {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: white;
}

.choices div {
  display: inline;
  margin-left: 7px;
}

@keyframes blink {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}